.form {
    font-family: Roboto-Regular;
    margin-left: 41px;
    margin-top: 92px;
    float: left;
}

.form fieldset{
    border: none;
}

.form label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
    font-weight: bold;
}

.form input, textarea {
    color: #aaaaaa;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #efefef;
}

.form input {
    width: 330px;
    height: 27px;
    padding-left: 18px;
    margin-bottom: 34px;
}

.form textarea{
    width: 350px;
    height: 150px;
    margin-bottom: 62px;
}

.address {
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Roboto-Regular;
}

.address h3 {
    font-size: 18px;
    color: #353535;
    font-family: Roboto-Black;
}

.location-info {
    width: 155px;
    font-size: 12px;
    color: #777777;    
    margin-top: 18px;
}

.location-info span {
    color: transparent;
    display: inline-block;
    float: left;
    width: 14px;
    height: 21px;
    background: url(../Images/location.png);
    background-repeat: no-repeat;
    padding-right: 10px;
}

.location-info p {
    margin-bottom: 10px;
}

.contact-phone {
    margin-top: 13px;
    clear: both;
    font-size: 20px;
    color: #333333;
}

.contact-phone:before {
    content: ".";
    color: transparent;
    background: url(../Images/phone-icn.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    float: left;
    margin: 5px 10px 0 0;
}

.contact-email {
    font-size: 16px;
    text-decoration: underline;
    margin-top: 20px;
}

.contact-email:before {
    content: ".";
    color: transparent;
    background: url(../Images/contact-email.png);
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
    float: left;
    margin: 3px 10px 0 0;
}

.questions {
    font-size: 14px;
    width: 314px;
    margin-top: 32px;
}