@font-face {
    font-family: Roboto-Regular; /* Имя шрифта */
    src: url(../Fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(../Fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Black-Italic;
    src: url(../Fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: Roboto-Medium-Italic;
    src: url(../Fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../Fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../Fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../Fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Myriad-Pro-Regular;
    src: url(../Fonts/Myriad/MyriadPro-Regular.otf);
}

@font-face {
    font-family: Raleway-Heavy;
    src: url(../Fonts/Raleway/Raleway-Heavy.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    min-height: 100%;
}

.header {
    width: 100%;
    min-width: 1500px;
    background-color: #abeafa;
    height: 350px;    
}

.wrapper-map {
    background: url(../Images/header-map.jpg);
    background-repeat: no-repeat;
    width: 1500px;
    height: 350px;
}

.logo {
    width: 125px;
    height: 111px;
    background: url(../Images/logo.png);
    float: left;
    margin: 24px 0 0 234px;
}

.header-social-icons {
    width: 110px;
    height: 16px;
    margin-right: 229px;
    margin-top: 50px;
    float: right;
}

.header-social-icons-map {
    padding: 10px 46px 9px 24px;
    opacity: 0.7;
    background-color: #c6c6c6;
}

.header-social-icons li {
    margin: 0 6px;
    width: 12px;
    height: 12px;
    float: left;
}

.header-social-icons li:first-child {
    margin-left: 0;
}

.header-social-icons li:last-child {
    margin-right: 0;
}

.header-content {
    clear: both;
    width: 1500px;
    margin: 0 auto;
}

.btn:active {
    position: relative;
    bottom: -3px;
    right: -3px;
}

.btn:hover {
    box-shadow: 0 0 20px #000000;
}

.sidebar {
    margin-left: 165px;
    width: 270px;
    float: left;
}

.menu {
    height: 475px;
    font-family: Roboto-Black;
    font-size: 14px;
    text-transform: uppercase;
}

.menu li {
    height: 37px;
    line-height: 37px;
    padding-left: 40px;
    background-color: #26d2fc;
}

.menu li a {
    color: #000000;
    display: block;
    width: 230px;
    padding-left: 40px;
    margin-left: -40px;
}

.menu li a:hover {
    color: #ffffff;
    background-color: #333333;
}

.menu li:first-child {
    height: 66px;
    width: 230px;
    font-family: Roboto-Bold;
    color: #ffffff;
    display: block;
    background-color: #333333;
    line-height: 66px;
}

.banner {
    height: 300px;
    background-color: #e0e0e0;
    margin-top: 30px;
}

.banner-text {
    width: 140px;
    height: 132px;
    font-family: Raleway-Heavy;
    font-size: 36px;
    padding-left: 130px;
    padding-top: 129px;
    padding-bottom: 39px;
}

.content {
    width: 870px;
    background-color: #f8f8f8;
    float: right;
    margin-right: 165px;
}

.title {
    font-family: Roboto-Black-Italic;
    font-size: 22px;
    text-transform: uppercase;
    color: #707070;    
    padding: 30px 0 0 25px;
}

.breadcrumbs {
    margin: 18px 0 0 42px;
    color: #989898;
    font-family: Roboto-Regular;
    font-size: 12px;
}

.breadcrumbs a {
    color: #989898;
} 

.breadcrumbs a:hover {
    border-bottom: 1px solid #989898;
    padding-bottom: 2px;
}

.active {
    padding: 6px 3px 5px 3px;
    background-color: #fff51f;
}

.catalog {
    float: left;
    margin-bottom: 150px;
}

.product {
    width: 270px;
    height: 320px;
    min-height: 320px;
    background-color: #ffffff;
    float: left;
    margin: 30px 30px 0 0;
    font-family: Roboto-Black-Italic;
    position: relative;
}

.product-item {
    display: block;
    width: 270px;
    height: 320px;
    color: #333333;
}

.product:nth-child(3n+1) {
    clear: both;
}

.product:nth-child(3n) {
    margin-right: 0;
}

.product:hover {
    box-shadow: 0 0 20px #333333;
}

.product-img {
    width: 250px;
    height: 235px;
    background-color: #eaeaea;
    margin: 10px 10px 0 10px;
}

.product-name {
    float: left;
    margin: 25px 0 0 26px;
    font-size: 14px;
    width: 50%;
}

.product-price {
    float: right;
    margin: 27px 15px 0 0;
    font-size: 18px;
    widows: 30%;
}

.promotion {
    color: #e24602;
    font-size: 14px;
    display: block;
    text-decoration: line-through;
    text-align: right;
}

.new:after {
    position: absolute;
    top: 0;
    left: 224px;
    z-index: 2;
    content: " ";
    background: url(../Images/new-flag.png);
    width: 46px;
    height: 46px;
    color: transparent;
}

.hot:after {
    position: absolute;
    top: 0;
    left: 224px;
    z-index: 2;
    content: " ";
    background: url(../Images/hot-flag.png);
    width: 46px;
    height: 46px;
    color: transparent;
}

.brand {
    width: 870px;
    height: 160px;
    clear: both;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #ededed;
    font-size: 36px;
    font-family: Roboto-Bold;
}

.brand li {
    float: left;
    margin: 67px 14px 67px 14px;
}

.brand li:first-child {
    margin-left: 83px;
}

.brand-li:last-child {
    margin-right: 84px;
}

.network {
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.network div {
    width: 390px;
    height: 150px;
    float: left;
}

.network a {
    display: block;
    width: 390px;
    height: 150px;
}

.facebook-network {
    background-color: #3b5997;
}

.facebook-network img {
    width: 30px;
    height: 62px;
    margin: 44px 180px;
}

.twitter-network img {
    width: 64px;
    height: 52px;
    margin: 49px 163px;
}

.twitter-network {
    background-color: #3fccfd;
}

.pinterest-network {
    background-color: #cb2027;
}

.pinterest-network img {
    width: 64px;
    height: 64px;
    margin: 43px 163px;
}

.wrapper {
    width: 1500px;
    margin: 0 auto;
}

.clr {
    height: 400px;
}

.footer {
    width: 100%;
    margin-top: -400px;
    height: 400px;
	background-color: #373737;
    min-width: 1500px;
    clear: both;
}

.blocks {
    color: #ffffff;
    margin-left: 192px;
}

.block {
    float: left;
    margin: 75px 0 50px 0;
}

.category {
    margin-right: 115px;
}

.our-account {
    margin-right: 89px;
}

.our-support {
    margin-right: 68px;
}

.blocks h3 {
    font-family: Raleway-ExtraBold;
    font-size: 18px;
}

.blocks ul {
    font-family: Roboto-Regular;
    font-size: 12px;
}

.newsletter {
    width: 266px;
}

.newsletter .email {
    width: 250px;
    height: 30px;
}

.newsletter .email input {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #333333;
    width: 175px;
    height: 30px;
    background-color: #fff51f;
    border: none;
    float: left;
    padding: 0 0 0 5px;
}

.newsletter .email .submit {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    width: 70px;
    height: 32px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    font-family: Roboto-Regular;
}

.cards {
    margin: 47px 0 0 0;
    width: 100%;
    position: relative;
    left: -10px;
}

.cards li {
    float: left;
    margin: 0 5px;
}

.cards li:first-child {
    margin-left: 0;
}

.cards li:last-child {
    margin-right: 0!important;
}

.about {
    width: 239px;
    margin-left: 46px;
}

.contacts li {
    margin: 5px 0;
}

.contacts .email {
    color: #faef03;
}

.copyright {
    font-family: Roboto-Regular;
    font-size: 12px;
    width: 100%;
    height: 50px;
    position: relative;
    top: 350px;
    background-color: #333333;
    color: #dad9d9;
}

.copy {
    float: left;
    position: absolute;
    margin-left: 171px;
}

.copy span{
    margin: 22px 0 15px 0;
    display: inline-block;
}

.copy b {
	margin: 20px 0 17px 0;
    display: inline-block;
}

.social-icons {
    width: 200px;
    height: 15px;
    float: right;
    margin: 19px 186px 15px 1040px;
    position: absolute;
}

.social-icons li {
    float: left;
}

.footer .social-icons li {
    margin: 0 7.5px 0 7.5px;
}

.social-icons li:first-child {
    margin-left: 0;
}

.social-icons li:last-child {
    margin-right: 0;
}

.facebook:after {
    content: url(../Images/social-icons/facebook.png);
}

.twitter {
    content: url(../Images/social-icons/twitter.png);
}

.pinterest {
    content: url(../Images/social-icons/pinterest.png);
}

.google-plus {
    content: url(../Images/social-icons/google-plus.png);
}

.tumblr {
    content: url(../Images/social-icons/tumblr.png);
}

.instagram {
    content: url(../Images/social-icons/instagram.png)
}

.rss {
    content: url(../Images/social-icons/rss.png);
}

.youtube {
    content: url(../Images/social-icons/youtube.png);
}