.examples {
    width: 100%;
    padding: 0 50px;
}

.item {
    float: left;
    margin: 20px 40px;
    border: 2px solid #f8f8f8;
    background-color: #f8f8f8;
}

.item:nth-child(3n+1) {
    clear: both;
}

.item:hover {
    box-shadow: 1px 2px 2px #39ac73;
}

.item img {
    margin: 10px 10px 20px 10px;
    background-color: #ccccb3;
    width: 143px;
    height: 143px;
    border: 1px solid #ccccb3;
    line-height: 143px;
    text-align: center;
    color: #f8f8f8;
}

.links {
    margin: 0 10px;
}

.model {
    float: left;
}

.source {
    float: right;
}